# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.sln

# Rider
.idea/

# VS Code
.vscode/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# Temporairy till figuring it out
*.md 
*.gz